/*---------------reset--------*/

*{
    font-size:16px;
    font-family:"Sans serf"; 
    padding:0;
    margin:0;
    text-decoration:none;

}

/*------------- global config----- */

a{
    margin:0 5px;
    color:#888;
    text-decoration:none;
}
a:hover{
    color:#ddd;
}


body{

}

/*--------css header---------*/

body header nav{
    background-color:#000;
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 40px; 
}

header nav div.logo{   
    margin:0 15px;
}

header nav div.logo p{
    font-size:18px;
    color:#fff;
}
header nav div.logo span{
    font-size:28px;
    color:#f00;

}

header nav div.search-input{
   
    display:flex;
    align-items:center;
    justify-content:center;
    width:260px;
    height:30px;
}
header nav div .search-button{
    width:100px;
    height:30px;
    color:#fff;
    border:none;
    background-color:blue;

}
header nav div .search-input{
    padding:0;
    width:140px;
    height:100%;
    border:none;
}

/*------------css main-------------*/

main{
    width:700px;
    height:100px;
}



/*-------------css footer-----------*/


